<div class="jumbotron mt-4">
    <h1 class="display-4">Note App NODE JS & MONGO</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="mt-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas cumque ipsum, autem, veritatis, laboriosam dolorem blanditiis ab beatae eligendi provident consectetur corporis odit architecto praesentium saepe. Ratione explicabo minima nihil!</p>  
</div>
