<div class="col-md-4 mx-auto mt-4">
    <form action="/notes/new-note" method="post">
    <div class="card">
        <div class="card-header">New Note</div>
        <div class="card-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" placeholder="title" autofocus>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control" placeholder="description"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Save Note</button>
            </div>
        </div>
    </div>
    </form>
</div>