<div class="row">
    <div class="col-md-4 mx-auto mt-4">
        <div class="card">
            <div class="card-header text-center">
                <h1>Sign In</h1>
                <img src="https://yt3.ggpht.com/a/AATXAJz8M0acNFxbxC2elTcxnseBqaUzGDApoeQa5tRsmw=s48-c-k-c0xffffffff-no-rj-mo" 
                class="d-block mx-auto" alt="">
            </div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <label for="email">Name</label>
                        <input class="form-control" type="email" name="email" placeholder="example@example.com">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control">SignIn</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>